In [3]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('data/customers.csv', sep=';')
df = df.drop(columns=['duration'])
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,1,-1,0,unknown,no

In [6]:
X = df.iloc[:, :-1].values
X

array([[58, 'management', 'married', ..., -1, 0, 'unknown'],
       [44, 'technician', 'single', ..., -1, 0, 'unknown'],
       [33, 'entrepreneur', 'married', ..., -1, 0, 'unknown'],
       ...,
       [72, 'retired', 'married', ..., 184, 3, 'success'],
       [57, 'blue-collar', 'married', ..., -1, 0, 'unknown'],
       [37, 'entrepreneur', 'married', ..., 188, 11, 'other']],
      dtype=object)

In [7]:
y = df.iloc[:, -1].values
y

array(['no', 'no', 'no', ..., 'yes', 'no', 'no'], dtype=object)

How do we want to encode this?

One-hot encoding:
- job
- marital
- contact
- outcome

Ordinal encoding:
- education
- default
- housing
- loan
- month
- y

No encoding:
- age
- balance
- day
- campaign
- pdays
- previous

In [12]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

nominal = [1, 2, 8, 14]
ordinal = [3, 4, 6, 7, 10]

ct = ColumnTransformer(
    transformers=[
        ('onehot_encoder', OneHotEncoder(), nominal),
        ('ordinal_encoder', OrdinalEncoder(), ordinal)
    ],
    remainder='passthrough'
)

X = np.array(ct.fit_transform(X))

# pd.DataFrame(X).to_csv('data/x_encoded.csv')
# os.system('open x_oh_encoded.csv')

In [16]:
from sklearn.preprocessing import LabelEncoder

lab_enc = LabelEncoder()
y = lab_enc.fit_transform(y)
y

array([0, 0, 0, ..., 1, 0, 0])