In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('data/customers.csv', sep=';')
df = df.drop(columns=['duration', 'day', 'month', 'campaign', 'pdays', 'previous', 'poutcome'])
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,no

In [6]:
X = df.iloc[:, :-1].values
X

array([[58, 'management', 'married', ..., 'yes', 'no', 'unknown'],
       [44, 'technician', 'single', ..., 'yes', 'no', 'unknown'],
       [33, 'entrepreneur', 'married', ..., 'yes', 'yes', 'unknown'],
       ...,
       [72, 'retired', 'married', ..., 'no', 'no', 'cellular'],
       [57, 'blue-collar', 'married', ..., 'no', 'no', 'telephone'],
       [37, 'entrepreneur', 'married', ..., 'no', 'no', 'cellular']],
      dtype=object)

In [7]:
y = df.iloc[:, -1].values
y

array(['no', 'no', 'no', ..., 'yes', 'no', 'no'], dtype=object)